@import 'base';

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

@layout-width: 960px;

.header-content,
.footer-content,
.content-wrapper{
    width: @layout-width;
    margin: 0 auto;
    padding: 0 30px;
}

.content-wrapper {
    padding-top: 1px;
}

@header-height: 53px;
@header-color: @site-blue;
@notification-color: #00aaee;

.header-wrapper {
    width: 100%;
    height: @header-height;
    background: @header-color;
    color: white;
    z-index: 5;
    position: relative;

    .header-content {
        height: inherit;
        white-space: nowrap;

        .logo-wrapper {
            height: inherit;
            display: inline-block;
            margin-right: 20px;
            margin-top: 3px;
            width: 210px;

            .logo {
                float: left;
                width: 32px;
                height: 45px;
            }

            .logo-side-data {
                float: left;
                margin-left: 10px;
                line-height: 1em;
                margin-top: 9px;

                .site-name {
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: 700;
                }

                .city-name {
                    font-size: 11px;
                    border-bottom: 1px dashed white;
                    text-decoration: none;
                    color: inherit;
                }
            }
        }

        .header-menu {
            list-style: none;
            margin: 0;
            padding: 0;
            display: inline-block;
            vertical-align: top;

            .item {
                font-size: 14px;
                font-weight: 600;
                line-height: @header-height;
                padding: 0 20px;
                display: inline-block;

                &:hover {
                    background: @site-hover-blue;
                }

                a {
                    color: inherit;
                    text-decoration: none;
                }

                .count {
                    font-size: 13px;
                    background-color: @notification-color;
                    display: inline-block;
                    width: 23px;
                    height: 23px;
                    line-height: 23px;
                    border-radius: 10px;
                    text-align: center;
                    position: relative;
                    top: -0.2em;
                }
            }
        }

        .user-data {
            line-height: @header-height;
            margin-left: 20px;
            display: inline-block;
            vertical-align: top;

            .login-button {
                font-size: 13px;
                display: block;
                width: 100px;
                text-align: center;
                text-decoration: none;
                color: white;
                cursor: pointer;

                &:hover {
                    background: @site-hover-blue;
                }
            }

            .user-area {
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    padding: 0 20px;
                }

                &:hover {
                    background-color: @site-hover-blue;
                    cursor: pointer;

                    li.other {
                        display: block;
                    }
                }

                li.other {
                    display: none;

                    &:hover {
                        color: black;
                        background-color: #e8e8e8;
                    }
                }
            }
        }
    }
}

@footer-height: 126px;

.footer-wrapper {
    height: @footer-height;
    width: 100%;
    background-color: @site-blue;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    line-height: @footer-height;

    .footer-content {
        height: inherit;
        color: white;

        a {
            color: inherit;
        }

        .legal-info,
        .application-block,
        .social-block {
            display: inline-block;
            line-height: 1.2em;
        }

        .application-block,
        .social-block {
            padding-top: 2em;
            vertical-align: top;
        }

        .legal-info {
            vertical-align: middle;
        }

        .title {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 1.2em;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        .legal-info {
            width: 250px;
            margin-right: 50px;

            .mailto,
            .copyright,
            .massmedia {
                display: block;
                line-height: 2em;
            }
        }

        .application-block {
            .application {
                line-height: 17px;
                border: 2px #fff solid;
                padding: 10px;
                color: #fff;
                cursor: pointer;
                display: inline-block;
                margin-right: 20px;

                a {
                    text-decoration: none;
                }

                &:hover {
                    background-color: #fff;
                    color: @header-color;
                }
            }
        }
    }
}

.social-menu-item {
    display: inline-block;
    margin-right: 14px;

    .icon {
        width: 34px;
        height: 34px;

        &:hover {
            background-color: #fff;
        }
    }
}

.icon {
    display: inline-block;
    margin: 0 2px;
}

h1 {
    font-size: 35px;
    font-weight: 400;
    color: @site-blue;
}

h2 {
    font-size: 34px;
    font-weight: 400;
    color: @site-blue;
    text-align: center;
    margin: 30px 0;
}

h3 {
    font-size: 18px;
    font-weight: 400;
    color: @site-blue;
    text-align: center;
}


.blue-button {
    text-align: center;
    color: white;
    border: 0;
    outline: 0;
    background-color: @site-blue;
    display: block;
    cursor: pointer;

    &:hover {
        background-color: @site-very-hover-blue;
    }
}

input.textfield {
    width: 300px;
    height: 24px;
    border: 1px #ccc solid;
    box-shadow: inset -1px 1px 3px #ddd;
    border-radius: 1px;
    display: block;
    margin: 9px 0;
    padding: 0 5px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

textarea.textareafield {
    width: 300px;
    height: 73px;
    border: 1px #ccc solid;
    box-shadow: inset -1px 1px 3px #ddd;
    border-radius: 1px;
    padding: 2px 5px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + span.checkbox {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px #ccc solid;
    border-radius: 1px;
    vertical-align: top;
    box-shadow: inset 0 0 3px #dddddd;
}