@color-active: #2f75b0;
@color-disabled: #d5e3ef;

@progress-height: 170px;

@import 'base';

.progress-container {
    &.scroll {
        .progress-shadow {
            position: fixed;
            top: 0;
            z-index: 1;
        }

        .progress {
            position: fixed;
            top: 0;
            z-index: 1;
        }
    }

    .progress-shadow {
        position: absolute;
        height: 170px;
        left: 0;
        right: 0;
        box-shadow: 0 0 15px #ddd;
        background-color: #fff;
    }

    .progress {
        position: absolute;
        width: @site-width;
        height: @progress-height;

        @side-padding: 50px;

        .line {
            width: 100%;
            padding: 100px @side-padding 0;
            box-sizing: border-box;
            font-size: 0;

            .line-grayed {
                background-color: @color-disabled;
                height: 4px;
                width: 100%;
            }

            .line-part {
                background-color: @color-active;
                transition: width 0.3s;
                width: 0;
                display: inline-block;
                height: 4px;
            }
        }

        @step-width: 180px;
        @circle-size: 32px;

        .step-point {
            position: absolute;
            color: @color-disabled;
            transition: color 0.3s;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            width: @step-width;
            height: 80px;
            bottom: 68px;
            cursor: pointer;

            .circle {
                width: @circle-size;
                height: @circle-size;
                border: 3px @color-disabled solid;
                transition: border-color 0.3s;
                background-color: #fff;
                border-radius: (@circle-size + 6px) / 2;
                line-height: @circle-size;
                position: absolute;
                bottom: -19px;
                margin-left: (@step-width - @circle-size) / 2;
            }

            .step-title {
                bottom: 30px;
                position: absolute;
            }

            &.step-1-point {
                left: @side-padding - @step-width / 2;
            }

            &.step-2-point {
                left: 50%;
                margin-left: -(@step-width - @circle-size) / 2;
            }

            &.step-3-point {
                right: @side-padding - @step-width / 2;
            }
        }

        &.step-1-now {
            .step-1-point {
                color: @color-active;

                .circle {
                    border-color: @color-active;
                }
            }
        }

        &.step-2-now {
            .line-part-1 {
                width: 50%;
            }

            .step-1-point,
            .step-2-point {
                color: @color-active;

                .circle {
                    border-color: @color-active;
                }
            }
        }

        &.step-3-now {
            .line-part-1,
            .line-part-2 {
                width: 50%;
            }

            .step-1-point,
            .step-2-point,
            .step-3-point {
                color: @color-active;

                .circle {
                    border-color: @color-active;
                }
            }
        }
    }
}

.case-type {
    margin-top: @progress-height + 20px;

    .categories-wrapper {
        overflow: hidden;
        margin: 0 -5px;
    }

    .categories-block {
        margin-top: 20px;
        margin-left: 5px;
        font-size: 0;
    }

    .category {
        display: inline-block;
        margin: 0 30px;
        width: 193px;
        cursor: pointer;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        .category-title {
            text-align: center;
            display: inline-block;
            width: 100%;
            height: 30px;
            padding: 5px 0 0;
            font-size: 14px;
        }

        &:hover {
            box-shadow: 0 0 7px #999;
        }
    }

    .categories-dropdown {
        margin-top: 15px;
        width: 100%;
        background-color: #fcefd5;
        box-sizing: border-box;
        position: relative;
        transition: height 0.5s;
        height: 0;

        &:before {
            content: "";
            display: none;
            position: absolute;
            top: -12px;
            width: 23px;
            height: 13px;
            background-image: url(/images/create-case/categories-arrow.png);
        }

        &.details-open {
            &:before {
                display: inline-block;
            }
        }

        .details-wrapper {
            border: 1px #e7e7e7 solid;
            padding: 25px 25px 15px;
            font-size: 0;

            .details-row {
                width: 200px;
                padding-right: 20px;
                font-size: 14px;
                height: 40px;
                margin-bottom: 10px;
                display: inline-block;
                vertical-align: top;
                cursor: pointer;
            }
        }

        &.category-1-open,
        &.category-5-open {
            &:before {
                left: 193px / 2;
            }
        }

        &.category-2-open,
        &.category-6-open {
            &:before {
                left: (193px + 60px) + 193px / 2;
            }
        }

        &.category-3-open,
        &.category-7-open {
            &:before {
                left: (193px + 60px) * 2 + 193px / 2;
            }
        }

        &.category-4-open,
        &.category-8-open {
            &:before {
                left: (193px + 60px) * 3 + 193px / 2;
            }
        }
    }
}

.case-details {
    margin-top: 50px;
    display: none;

    &.shown {
        display: block;
    }

    .photos {
        font-size: 0;

        .add-photo {
            border: 4px #ccc dashed;
            width: 132px;
            height: 132px;
            display: inline-block;
            margin: 0 30px;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            &:before {
                text-align: center;
                line-height: 132px;
                font-size: 60px;
                color: #ccc;
                content: "+";
                display: inline-block;
                width: 100%;
            }
        }
    }

    .address-wrapper {
        width: 960px;
        height: 400px;
        position: relative;

        .overlay {
            background-color: #000;
            opacity: 0.4;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        .address-form {
            width: 524px;
            height: 340px;
            padding: 30px 110px;
            box-sizing: border-box;
            top: 50%;
            left: 50%;
            margin-left: -524px / 2;
            margin-top: -340px / 2;
            background: #fff;
            position: absolute;
            box-shadow: 0 0 10px #666;

            .hint {
                color: #b2b2b2;
                font-size: 13px;
                line-height: 16px;
            }
        }

        #address_map {
            width: 960px;
            height: 400px;
        }
    }

    h3 {
        margin-top: 30px;
    }

    .additional-info {
        font-size: 0;

        .info-row {
            width: 50%;
            display: inline-block;
            font-size: 13px;
            line-height: 20px;
            padding: 8px 0;

            label {
                margin-left: 10px;
                vertical-align: middle;
            }
        }
    }

    .next {
        width: 221px;
        height: 62px;
        line-height: 62px;
        font-size: 18px;
        font-weight: 500;
        margin-top: 50px;
    }

    .input-type-map,
    .input-type-address {
        text-decoration: underline;
        cursor: pointer;
    }

    &.type-map {
        .input-type-map {
            text-decoration: none;
            cursor: default;
        }

        .address-form,
        .overlay {
            display: none;
        }
    }

    &.type-address {
        .input-type-address {
            text-decoration: none;
            cursor: default;
        }
    }
}

.case-letter {
    margin-top: 70px;
    display: none;

    &.shown {
        display: block;
    }

    .letter {
        box-shadow: 0 0 15px #ddd;
        width: 100%;
        box-sizing: border-box;
        padding: 70px 50px;
        font-size: 13px;

        .recipient,
        .sender,
        .sender-phone,
        .sender-email,
        .signature {
            text-align: right;
        }

        .extra {
            width: 100%;
            height: 88px;
            font-family: "Open Sans", sans-serif;
            font-size: 13px;
            box-shadow: inset 0 0 6px #ddd;
            border: 1px #ccc solid;
            padding: 13px;
            box-sizing: border-box;
            margin: 1em 0;
        }

        .sender-phone {
            margin-top: 1em;
        }

        .title {
            font-size: 18px;
            font-weight: 500;
            margin: 3em 0 2em;
            text-align: center;
        }
    }

    .send {
        width: 480px;
        height: 70px;
        line-height: 70px;
        margin: 35px auto;
        font-size: 16px;
        font-weight: bold;
    }
}