@import 'base';

.content-wrapper {
    margin-bottom: 170px;
}

h1 {
    margin: 50px 0;
    text-align: center;
}

.side-block {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;

    &.half {
        width: 50%;
    }

    &.quarter {
        width: 25%;
    }
}

.description {
    .side-block {
        &:first-child {
            padding-right: 30px;
        }

        &:last-child {
            padding-left: 30px;
        }
    }

    p {
        margin: 0;
        font-size: 14px;
    }

    .social-menu {
        padding-top: 1em;

        .social-menu-item {
            margin-right: 30px;

            .icon {
                padding: 1px 6px;
                background-color: @site-blue;
                background-origin: content-box;

                &:hover {
                    background-color: #fff;
                }
            }
        }
    }

    .application-menu {
        padding-top: 0.7em;

        .application-menu-item {
            margin-right: 20px;
        }
    }

    .resources {
        padding-top: 1em;

        .annotation {
            display: inline-block;
            font-size: 15px;
            vertical-align: top;
        }

        .icon-set {
            display: inline-block;
            float: right;
            margin-top: -3px;
        }

        &.mobile .icon-set {
            margin-right: 20px;
        }
    }
}

.create-case {
    width: 480px;
    height: 72px;
    line-height: 72px;
    font-size: 16px;
    margin: 40px auto 25px;
    text-decoration: none;
}

.news,
.projects {
    .title {
        color: @site-blue;
        font-weight: 500;
        font-size: 15px;
    }

    .more {
        color: @site-blue;
        font-weight: 300;
        text-align: right;
        margin-top: 15px;
        font-size: 13px;

        a {
            color: inherit;
        }
    }

    .annotation {
        line-height: 15px;
        font-size: 13px;
    }
}


.news {
    @news-width: 225px;
    @total-padding: 20px;
    @news-with-padding: @news-width + @total-padding;
    position: relative;

    .news-content,
    .images-content {
        position: relative;
    }

    .side-block.quarter {
        width: @news-width;
    }

    // Math, bitch
    .side-block.quarter:first-child {
        margin-right: @total-padding * 0.75;
    }

    .side-block.quarter:nth-child(2) {
        margin-left: @total-padding * 0.25;
        margin-right: @total-padding * 0.5;
    }

    .side-block.quarter:nth-child(3) {
        margin-left: @total-padding * 0.5;
        margin-right: @total-padding * 0.25;
    }

    .side-block.quarter:last-child {
        margin-left: @total-padding * 0.75;
    }

    .news-content .side-block.quarter {
        padding: 10px;
    }

    .news-date {
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 7px;
    }

    .annotation {
        text-decoration: none;
        color: inherit;
    }

    .image {
        margin-top: 10px;
        height: 150px;
        width: 100%;
        background-size: cover;
    }
}

.projects {
    position: relative;

    .side-block.half {
        width: 470px;
        position: relative;

        &:first-child {
            margin-right: 10px;
        }

        &:last-child {
            margin-left: 10px;
        }

        a {
            color: black;
            height: 1em;
            display: block;
        }

        .project-description {
            .annotation-image {
                width: 100%;
                height: 200px;
                background-size: 100%;
                background-position: center;
            }

            .annotation {
                padding: 0 20px 20px;
            }

            .project-title {
                font-weight: bold;
                margin: 1em 20px 1.5em;
                text-decoration: none;
            }
        }
    }

    .shadow {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 470px;
        box-shadow: 0 0 10px #DDD;

        &:first-child {
            left: 0;
        }

        &:last-child {
            right: 0;
        }
    }
}

.all-news,
.all-projects {
    color: @site-blue;
    text-align: right;
    margin: 2em 0 5em;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

@steps-border-color: #00aaee;

.steps-wrapper {
    width: 100%;
    box-sizing: border-box;
    margin-top: 70px;
    position: relative;
    text-align: justify;

    .step {
        width: 265px;
        padding: 0 15px 15px;
        box-sizing: border-box;
        border: 4px @site-blue solid;
        display: inline-block;

        .step-meta {
            width: 100%;
            display: block;
            font-weight: 700;
            color: @site-blue;
            text-align: center;
            margin-top: -60px;

            .step-number {
                font-size: 40px;
                line-height: 48px;
            }

            .step-name {
                margin-bottom: 15px;
                text-transform: uppercase;
                font-size: 18px;
                background: white;
                display: inline-block;
                padding: 0 15px;
            }
        }

        .description {
            font-size: 13px;
        }
    }

    .arrow {
        display: inline-block;
        width: 30px;
        height: 50px;
        margin: 25px 26px 0;
        background-image: url(/images/index/arrows.png);
        background-position: -30px;
    }
}

.achievements-list {
    margin-top: 50px;

    .achievement {
        width: 222px;
        height: 235px;
        display: inline-block;
        box-shadow: 0 0 10px #ccc;
        padding: 40px 15px 0;
        box-sizing: border-box;
        text-align: center;

        .description {
            margin-top: 5px;
            font-size: 16px;
            font-weight: 600;
            color: #cccccc;
        }

        .number {
            margin-top: 10px;
            color: @site-blue;
            font-size: 48px;
            font-weight: 700;
        }
    }

    .achievement + .achievement {
        margin-left: 24px;
    }
}

.solved-issues-container {
    height: 324px;
    margin-top: 50px;

    .solved-issues {
        position: absolute;
        left: 0;
        right: 0;
        background-color: #f3f3f3;

        .issues-container {
            position: relative;
            width: @site-width;
            height: 230px;
            margin: 35px auto;

            .issue-item {

                .description {
                    width: 290px;
                    margin-right: 10px;
                    display: inline-block;
                    vertical-align: top;

                    .title {
                        font-weight: 600;
                        font-size: 16px;
                        margin-bottom: 1em;
                    }

                    .text {
                        font-size: 13px;
                    }
                }

                .images {
                    display: inline-block;

                    .image {
                        width: 300px;
                        height: 230px;
                        background-size: cover;
                        display: inline-block;
                        position: relative;
                        vertical-align: middle;
                    }

                    .arrow {
                        display: inline-block;
                        vertical-align: middle;
                        margin: 0 5px;
                        width: 30px;
                        height: 50px;
                        background-image: url(/images/index/arrows.png);
                        background-position: -30px;
                    }
                }
            }
        }
    }
}