@import 'base';

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    opacity: 0.4;
    display: none;
    z-index: 100;

    &.shown {
        display: block;
    }
}


#body-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 101;
}

.login-form {
    width: 600px;
    height: 480px;
    margin-left: -50%;
    margin-top: -50%;
    padding: 100px 60px 60px;
    box-sizing: border-box;
    background-color: white;

    .login-input {
        width: 100%;
        height: 40px;
        font-size: 16px;
        box-shadow: none;
        padding: 0 10px;
        margin: 0 0 25px;
        box-sizing: border-box;
    }

    .login-button {
        height: 50px;
        width: 100%;
        font-weight: 500;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
    }

    .login-options {
        overflow: hidden;
        font-size: 14px;
        margin-top: 20px;

        .remember-me {
            float: left;
            font-weight: 200;
        }

        .recover-password {
            float: right;
            font-weight: 600;
            cursor: pointer;
            color: @site-blue;

            &:hover {
                color: @site-hover-blue;
            }
        }
    }

    .login-social {
        margin-top: 20px;
        width: 100%;

        .login-social-header {
            text-align: center;
            font-size: 14px;
        }

        .login-social-buttons {
            margin-top: 30px;
            font-size: 0;

            .login-social-button {
                display: inline-block;
                width: 146px;
                height: 40px;
                line-height: 40px;
                color: white;
                font-size: 16px;
                margin-right: 20px;
                cursor: pointer;

                &.vk {
                    background: #5275a2;
                }

                &.fb {
                    background: #40579a;
                }

                &.tw {
                    background: #64aced;
                }

                &:last-child {
                    margin-right: 0;
                }

                .login-social-sprite {
                    display: inline-block;
                    margin: 4px 8px 8px;
                    pointer-events: none;
                }

                .login-social-label {
                    display: inline-block;
                    vertical-align: top;
                }
            }
        }
    }
}